.chat-main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.chat-header {
    display: flex;
    justify-content: space-around;
}

.chat-header p {
    font-size: 20px;
    margin-bottom: 0;
}

#name {
    margin: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 23px;
    font-weight: 700;
    -webkit-text-stroke: 0.8px rgb(172, 41, 220);
    color: rgb(250, 225, 225);
    font-style: italic;
    letter-spacing: 10%;
    font-size: 1.8rem;
}

.chat-header button {
    width: 100px;
    font-size: 18px;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 10px;
    font-weight: 550;
    background-color: #fad533;
}

.chat-header button:hover {
    box-shadow: 2px 2px #c1a31b;
}

.chat-container{
    background-image: url(https://wallpapercave.com/wp/wp6110843.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 30px;
}

#friends-list-section h3 {
    margin: 10px 0;
    margin-left: 10px;
    -webkit-text-stroke: 0.8px rgb(172, 41, 220);
    color: rgb(250, 225, 225);
    font-style: italic;
    letter-spacing: 10%;
    font-size: 1.8rem;
}