body, input, button {
    /* font-family: 'Varela Round', sans-serif; */
    font-family: 'Noto Sans', sans-serif;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.hidden {
    display: none;
}